<h2>Import All Libraries</h2>

In [1]:
#import all libraries and classes
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

<h2>Import And Inspect The Dataset</h2>

In [2]:
#import the dataset
employment= pd.read_csv(r"C:\Users\Williams\Desktop\HamoyeInternship\STAGEB\train_LZdllcl.csv")

In [3]:
#inspect the first five records
employment.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [4]:
#check the dimension of the dataset
employment.shape

(54808, 14)

In [5]:
#check statistics of the dataset
employment.describe()

,employee_id,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
count,54808.000000,54808.000000,54808.000000,50684.000000,54808.000000,54808.000000,54808.000000,54808.000000,54808.000000
mean,39195.830627,1.253011,34.803915,3.329256,5.865512,0.351974,0.023172,63.386750,0.085170
std,22586.581449,0.609264,7.660169,1.259993,4.265094,0.477590,0.150450,13.371559,0.279137
min,1.000000,1.000000,20.000000,1.000000,1.000000,0.000000,0.000000,39.000000,0.000000
25%,19669.750000,1.000000,29.000000,3.000000,3.000000,0.000000,0.000000,51.000000,0.000000
50%,39225.500000,1.000000,33.000000,3.000000,5.000000,0.000000,0.000000,60.000000,0.000000
75%,58730.500000,1.000000,39.000000,4.000000,7.000000,1.000000,0.000000,76.000000,0.000000
max,78298.000000,10.000000,60.000000,5.000000,37.000000,1.000000,1.000000,99.000000,1.000000

<h2>Data Preparation And Cleaning</h2>

In [6]:
#copy the dataset to another variable
employment_copy = employment.copy()

In [7]:
#inspect the data types after cleaning
employment_copy.dtypes

employee_id               int64
department               object
region                   object
education                object
gender                   object
recruitment_channel      object
no_of_trainings           int64
age                       int64
previous_year_rating    float64
length_of_service         int64
KPIs_met >80%             int64
awards_won?               int64
avg_training_score        int64
is_promoted               int64
dtype: object

In [8]:
#check for null columns
employment_copy.isnull().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [9]:
#check the data types of the null columns
print(employment_copy["education"].dtypes)
print(employment_copy["previous_year_rating"].dtypes)

object
float64

### Cleaning the "education" column

In [10]:
#check the frequency of each education qualification
employment_copy["education"].value_counts()

Bachelor's          36669
Master's & above    14925
Below Secondary       805
Name: education, dtype: int64

In [11]:
#inspect the first 5 observations containing null values in the "education" column
employment_copy[employment_copy["education"].isnull()].head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
10,29934,Technology,region_23,NaN,m,sourcing,1,30,NaN,1,0,0,77,0
21,33332,Operations,region_15,NaN,m,sourcing,1,41,4.0,11,0,0,57,0
32,35465,Sales & Marketing,region_7,NaN,f,sourcing,1,24,1.0,2,0,0,48,0
43,17423,Sales & Marketing,region_2,NaN,m,other,3,24,2.0,2,0,0,48,0
82,66013,Sales & Marketing,region_2,NaN,m,sourcing,2,25,3.0,2,0,0,53,0

In [12]:
#check the frequency of each category of the "department" column
employment_copy["department"].value_counts()

Sales & Marketing    16840
Operations           11348
Procurement           7138
Technology            7138
Analytics             5352
Finance               2536
HR                    2418
Legal                 1039
R&D                    999
Name: department, dtype: int64

In [13]:
#check the frequency of each category of the "department" column
employment_copy.groupby("department")["education"].value_counts()

department         education
Analytics          Bachelor's           3978
                   Master's & above     1037
Finance            Bachelor's           1895
                   Master's & above      499
                   Below Secondary       106
HR                 Bachelor's           1525
                   Master's & above      733
                   Below Secondary       128
Legal              Bachelor's            814
                   Master's & above      156
                   Below Secondary        65
Operations         Bachelor's           7781
                   Master's & above     3165
                   Below Secondary       176
Procurement        Bachelor's           4393
                   Master's & above     2544
                   Below Secondary       129
R&D                Bachelor's            542
                   Master's & above      429
Sales & Marketing  Bachelor's          11099
                   Master's & above     4166
Technology         Bachelor's           4642
                   Master's & above     2196
                   Below Secondary       201
Name: education, dtype: int64

In [14]:
#check the frequency of the class of Education for all Sales & Marketing personnel
employment_copy.groupby("department").get_group("Sales & Marketing")["education"].value_counts()

Bachelor's          11099
Master's & above     4166
Name: education, dtype: int64

In [15]:
#check the number of values of "education" qualification that is in the "Sales & Marketing" department
employment_copy.groupby("department").get_group("Sales & Marketing")["education"].isnull().sum()

1575

In [16]:
#calculate and store the proportion of each "education" qualification that is in the "Sales & Marketing" department
b = int(11099/(11099+4166)*1575)
m = 1575 - b

In [17]:
#fill a proportion of null fields with "Bachelor's"
B = employment_copy.groupby("department").get_group("Sales & Marketing")["education"].fillna("Bachelor's", limit=b)
employment_copy["education"].update(B)

In [18]:
#fill a proportion of null fields with "Master's & above"
M = employment_copy.groupby("department").get_group("Sales & Marketing")["education"].fillna("Master's & above", limit=m)
employment_copy["education"].update(M)

In [19]:
#confirm that it has been filled
employment_copy.groupby("department").get_group("Sales & Marketing")["education"].isnull().sum()

0

In [20]:
#check the frequency of the class of Education for all Operations personnel
employment_copy.groupby("department").get_group("Operations")["education"].value_counts()

Bachelor's          7781
Master's & above    3165
Below Secondary      176
Name: education, dtype: int64

In [21]:
#check the number of values of "education" qualification that is in the "Operations" department
employment_copy.groupby("department").get_group("Operations")["education"].isnull().sum()

226

In [22]:
#calculate and store the proportion of each "education" qualification that is in the "Operations" department
b = int(7781/(7781+3165+176)*226)
m = int(3165/(7781+3165+176)*226)
s = 226 - b - m

In [23]:
#fill a proportion of null fields with "Bachelor's"
B = employment_copy.groupby("department").get_group("Operations")["education"].fillna("Bachelor's", limit=b)
employment_copy["education"].update(B)

In [24]:
#fill a proportion of null fields with "Master's & above"
M = employment_copy.groupby("department").get_group("Operations")["education"].fillna("Master's & above", limit=m)
employment_copy["education"].update(M)

In [25]:
#fill a proportion of null fields with "Below Secondary"
S = employment_copy.groupby("department").get_group("Operations")["education"].fillna("Below Secondary", limit=s)
employment_copy["education"].update(S)

In [26]:
#confirm that it has been filled
employment_copy.groupby("department").get_group("Operations")["education"].isnull().sum()

0

In [27]:
#check the frequency of the class of Education for all Procurement personnel
employment_copy.groupby("department").get_group("Procurement")["education"].value_counts()

Bachelor's          4393
Master's & above    2544
Below Secondary      129
Name: education, dtype: int64

In [28]:
#check the number of values of "education" qualification that is in the "Procurement" department
employment_copy.groupby("department").get_group("Procurement")["education"].isnull().sum()

72

In [29]:
#calculate and store the proportion of each "education" qualification that is in the "Procurement" department
b = int(4393/(4393+2544+129)*72)
m = int(2544/(4393+2544+129)*72)
s = 72 - b - m

In [30]:
#fill a proportion of null fields with "Bachelor's"
B = employment_copy.groupby("department").get_group("Procurement")["education"].fillna("Bachelor's", limit=b)
employment_copy["education"].update(B)

In [31]:
#fill a proportion of null fields with "Master's & above"
M = employment_copy.groupby("department").get_group("Procurement")["education"].fillna("Master's & above", limit=m)
employment_copy["education"].update(M)

In [32]:
#fill a proportion of null fields with "Below Secondary"
S = employment_copy.groupby("department").get_group("Procurement")["education"].fillna("Below Secondary", limit=s)
employment_copy["education"].update(S)

In [33]:
#confirm that it has been filled
employment_copy.groupby("department").get_group("Procurement")["education"].isnull().sum()

0

In [73]:
#check the frequency of the class of Education for all Technology personnel
employment_copy.groupby("department").get_group("Technology")["education"].value_counts()

Bachelor's          4707
Master's & above    2226
Below Secondary      205
Name: education, dtype: int64

In [34]:
#check the number of values of "education" qualification that is in the "Technology" department
employment_copy.groupby("department").get_group("Technology")["education"].isnull().sum()

99

In [35]:
#calculate and store the proportion of each "education" qualification that is in the "Technology" department
b = int(4642/(4642+2196+201)*99)
m = int(2196/(4642+2196+201)*99)
s = 99 - b - m

In [36]:
#fill a proportion of null fields with "Bachelor's"
B = employment_copy.groupby("department").get_group("Technology")["education"].fillna("Bachelor's", limit=b)
employment_copy["education"].update(B)

In [37]:
#fill a proportion of null fields with "Master's & above"
M = employment_copy.groupby("department").get_group("Technology")["education"].fillna("Master's & above", limit=m)
employment_copy["education"].update(M)

In [38]:
#fill a proportion of null fields with "Below Secondary"
S = employment_copy.groupby("department").get_group("Technology")["education"].fillna("Below Secondary", limit=s)
employment_copy["education"].update(S)

In [39]:
#confirm that it has been filled
employment_copy.groupby("department").get_group("Technology")["education"].isnull().sum()

0

In [40]:
#check the frequency of the class of Education for all Analytics personnel
employment_copy.groupby("department").get_group("Analytics")["education"].value_counts()

Bachelor's          3978
Master's & above    1037
Name: education, dtype: int64

In [41]:
#check the number of values of "education" qualification that is in the "Analytics" department
employment_copy.groupby("department").get_group("Analytics")["education"].isnull().sum()

337

In [42]:
#calculate and store the proportion of each "education" qualification that is in the "Analytics" department
b = int(3978/(3978+1037)*337)
m = 337 - b

In [43]:
#fill a proportion of null fields with "Bachelor's"
B = employment_copy.groupby("department").get_group("Analytics")["education"].fillna("Bachelor's", limit=b)
employment_copy["education"].update(B)

In [44]:
#fill a proportion of null fields with "Master's & above"
M = employment_copy.groupby("department").get_group("Analytics")["education"].fillna("Master's & above", limit=m)
employment_copy["education"].update(M)

In [45]:
#confirm that it has been filled
employment_copy.groupby("department").get_group("Analytics")["education"].isnull().sum()

0

In [46]:
#check the frequency of the class of Education for all Finance personnel
employment_copy.groupby("department").get_group("Finance")["education"].value_counts()

Bachelor's          1895
Master's & above     499
Below Secondary      106
Name: education, dtype: int64

In [47]:
#check the number of values of "education" qualification that is in the "Finance" department
employment_copy.groupby("department").get_group("Finance")["education"].isnull().sum()

36

In [48]:
#calculate and store the proportion of each "education" qualification that is in the "Finance" department
b = int(4393/(4393+2544+129)*72)
m = int(2544/(4393+2544+129)*72)
s = 72 - b - m

In [49]:
#fill a proportion of null fields with "Bachelor's"
B = employment_copy.groupby("department").get_group("Finance")["education"].fillna("Bachelor's", limit=b)
employment_copy["education"].update(B)

In [50]:
#fill a proportion of null fields with "Master's & above"
M = employment_copy.groupby("department").get_group("Finance")["education"].fillna("Master's & above", limit=m)
employment_copy["education"].update(M)

In [51]:
#fill a proportion of null fields with "Below Secondary"
S = employment_copy.groupby("department").get_group("Finance")["education"].fillna("Below Secondary", limit=s)
employment_copy["education"].update(S)

In [52]:
#confirm that it has been filled
employment_copy.groupby("department").get_group("Finance")["education"].isnull().sum()

0

In [53]:
#check the frequency of the class of Education for all HR personnel
employment_copy.groupby("department").get_group("HR")["education"].value_counts()

Bachelor's          1525
Master's & above     733
Below Secondary      128
Name: education, dtype: int64

In [54]:
#check the number of values of "education" qualification that is in the "HR" department
employment_copy.groupby("department").get_group("HR")["education"].isnull().sum()

32

In [55]:
#calculate and store the proportion of each "education" qualification that is in the "HR" department
b = int(4393/(4393+2544+129)*72)
m = int(2544/(4393+2544+129)*72)
s = 72 - b - m

In [56]:
#fill a proportion of null fields with "Bachelor's"
B = employment_copy.groupby("department").get_group("HR")["education"].fillna("Bachelor's", limit=b)
employment_copy["education"].update(B)

In [57]:
#fill a proportion of null fields with "Master's & above"
M = employment_copy.groupby("department").get_group("HR")["education"].fillna("Master's & above", limit=m)
employment_copy["education"].update(M)

In [58]:
#fill a proportion of null fields with "Below Secondary"
S = employment_copy.groupby("department").get_group("HR")["education"].fillna("Below Secondary", limit=s)
employment_copy["education"].update(S)

In [59]:
#confirm that it has been filled
employment_copy.groupby("department").get_group("HR")["education"].isnull().sum()

0

In [60]:
#check the frequency of the class of Education for all Legal personnel
employment_copy.groupby("department").get_group("Legal")["education"].value_counts()

Bachelor's          814
Master's & above    156
Below Secondary      65
Name: education, dtype: int64

In [61]:
#check the number of values of "education" qualification that is in the "Legal" department
employment_copy.groupby("department").get_group("Legal")["education"].isnull().sum()

4

In [62]:
#calculate and store the proportion of each "education" qualification that is in the "legal" department
b = int(4393/(4393+2544+129)*72)
m = int(2544/(4393+2544+129)*72)
s = 72 - b - m

In [63]:
#fill a proportion of null fields with "Bachelor's"
B = employment_copy.groupby("department").get_group("Legal")["education"].fillna("Bachelor's", limit=b)
employment_copy["education"].update(B)

In [64]:
#fill a proportion of null fields with "Master's & above"
M = employment_copy.groupby("department").get_group("Legal")["education"].fillna("Master's & above", limit=m)
employment_copy["education"].update(M)

In [65]:
#fill a proportion of null fields with "Below Secondary"
S = employment_copy.groupby("department").get_group("Legal")["education"].fillna("Below Secondary", limit=s)
employment_copy["education"].update(S)

In [66]:
#confirm that it has been filled
employment_copy.groupby("department").get_group("Legal")["education"].isnull().sum()

0

In [67]:
#check the frequency of the class of Education for all R&D personnel
employment_copy.groupby("department").get_group("R&D")["education"].value_counts()

Bachelor's          542
Master's & above    429
Name: education, dtype: int64

In [68]:
#check the number of values of "education" qualification that is in the "R&D" department
employment_copy.groupby("department").get_group("R&D")["education"].isnull().sum()

28

In [69]:
#calculate and store the proportion of each "education" qualification that is in the "R&D" department
b = int(4393/(4393+2544+129)*72)
m = int(2544/(4393+2544+129)*72)
s = 72 - b - m

In [70]:
#fill a proportion of null fields with "Bachelor's"
B = employment_copy.groupby("department").get_group("R&D")["education"].fillna("Bachelor's", limit=b)
employment_copy["education"].update(B)

In [71]:
#fill a proportion of null fields with "Master's & above"
M = employment_copy.groupby("department").get_group("R&D")["education"].fillna("Master's & above", limit=m)
employment_copy["education"].update(M)

In [72]:
#confirm that it has been filled
employment_copy.groupby("department").get_group("R&D")["education"].isnull().sum()

0